@charset "UTF-8";


/*Body Styling*/

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

a:hover, a:link {
  text-decoration: none;
}

body {
  background-image: url('../img/Composite Photo.jpg'); 
  font-family: 'Montserrat', arial, sans-serif;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn, a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
  color: #000000 !important;
}

.btn .svg-inline--fa, a.btn .svg-inline--fa {
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.btn:focus, a.btn:focus {
  color: #000000 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.btn-cta-primary, .btn-cta-primary {
  background: white !important;
  border: 1px solid white !important;
  color: black !important;
  font-weight: 600;
  text-transform: uppercase;
}

a.btn-cta-primary:hover, .btn-cta-primary:hover {
  background: #cccccc !important;
  border: 1px solid white !important;
  color: black !important;
}

a.btn-cta-primary:active, .btn-cta-primary:active {
  color: black !important;
}

.bg-cover .text {
  border-radius: 10px;
  background: #202121;
  border: 1px solid #464646;
  color: #464646;
  font-size: 16px;
  padding: 8px 16px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Header NavBar*/

.navbar .navbar-right a{
  border-left: 1px solid #778492;
  color: #f0f9ff;
}

.navbar .navbar-brand{
  width: 5px;
  height: 5px;
}

.navbar-custom{
  background-color: #0b0b0b;
}

.navbar-custom .navbar-brand{ 
  color: #f0f9ff; 
} 

.navbar .nav .nav-tab{
  padding: 8px 8px;
  color: #f0f9ff;
}

.navbar .nav-link{
  color: #f0f9ff;
}

.navbar .nav-link:hover{
  color: #666666;
} 

.navbar-nav .dropdown-menu{
  background-color: #101111;  
}

.navbar-nav .dropdown-menu li a{;
  color:#f0f9ff;
}

.dropdown .dropdown-item{
  color: #333333;
}

.dropdown .dropdown-item:hover{
  background-color: #101111;
  color: #666666;
}

.dropdown { 
  position: static !important; 
}

.dropdown-menu .dropdown-header{
  color: #f0f9ff;
} 
          
.navbar-nav .dropdown-menu { 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
  margin-top: 0px !important; 
  width: 100% !important; 
}

.navbar .navbar-nav{
  text-align: center;
}

.navbar-nav .dropdown-menu .form-control {
    width: 300px;
}

.navbar-right .dropdown-menu-right a{
  border-left: none;
}


.navbar-right .nav-item:hover .dropdown-menu{
  display: block;
  background-color: #0b0b0b; 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
  margin-top: -8px !important; 
  width: 25% !important; 
}

.navbar .top-nav{
  font-size: 11px;
}

.hero-image {
  background-image: url('../img/nike-jordan-brand-future-primal.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image h3{
  color: white;
  font-family: 'Lobster', cursive;
}

.hero-image h1{
  color: white;
  font-size: 48px;
  font-family: 'Lobster', cursive;
}

.jordan-heading{
  margin-bottom: 30px;
}

.jordan-heading a.btn-cta-primary, .btn-cta-primary {
  background: black !important;
  color: white !important;
}

.hero-image .headline{
  position: absolute;
  color:black;
}

/*Carousel*/

.box{
  border-radius: 10px;
  margin: 20px;
}

.slide-img{
  height: 550px;
  position:relative;
  border-radius: 10px;
}

.thumbnail{
  height: 100%;
    object-fit: cover;
    max-width: 500px;
    min-width: 500px;
    max-height: 550px;
    min-height: 550px;
    box-sizing: border-box;
}

.overlay{
  position: relative;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: none;
}

.slider{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn{
  width:160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  color:#252525;
  font-weight: 700;
  visibility: none;
  font-family: 'Montserrat', arial, sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}


.detail-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}

.type{
  display: flex;
  flex-direction: column;
}
.type a{
  color:#222222;
  margin: 5px 0px;
  font-weight: 700;
  padding-right: 8px;
}
.type span{
  color:rgba(26,26,26,0.5);
}
.price{
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  width: 100px;
}

.thumbnail:hover{

}

.active{

}

#slide-wrapper{
  max-width: 1000px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider{
  width: 1000px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

#slider::-webkit-scrollbar {
    width: 7px;

}

#slider::-webkit-scrollbar-track {


}
 
#slider::-webkit-scrollbar-thumb {
  background-color: grey;
  width: 5px;
   border-radius: 10px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: black;
}

.arrow{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

.arrow:hover{
  opacity: .5;
  width: 35px;
  height: 35px;
}

.heading {
  margin-top: 100px;
  margin-bottom: 30px;
  color: black;
  font-size: 30px;
}

.on-the-move .performance-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/performance-women.jpg');
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.performance-section .headline a{
  margin:10px 0 0 0;
}

.performance-section .headline h3{
  color:white;
}

.performance-section .headline{
  position: absolute;
  left: 5%;
    top: 80%;
}

.just-in {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/escape-run-women.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.just-in .headline{
  position: absolute;
  left: 5%;
  top: 60%;
  color: white;
}

.just-in .headline a{
  margin:10px 0 0 0;
}

.icons .thumbnail{
  max-width: 400px;
  max-height: 350px;
}

.icons .type a{
  font-size: 20px;  
}

.featured {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/dance-women.png');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.featured .headline{
  position: absolute;
  left: 5%;
  top: 60%;
  color: white;
}

.featured .headline a{
  margin:10px 0 0 0;
}

.more .type .buttons {
  display: inline-block;
}

.more .type .buttons a{
  margin:10px 5px 0 0;
  color: white;
  background-color: black;
}

.footer-custom{
  background-color: #0b0b0b;
}

.footer-dark {
  padding:50px 0;
  font-family: 'Montserrat', arial, sans-serif;
  color:#f0f9ff;
  background-color:#0b0b0b;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:14px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:12px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin: 0 5px 0px 5px;
}
